.*ignore
.env*
.github/
.nvmrc
.vscode-test.mjs
.vscode-test/
.vscode/
cspell.config.yaml
docs/
esbuild.config.mjs
eslint.config.mjs
node_modules/
out/**/*.map
out/test/
project-words.txt
scripts/
src/
tsconfig*.json
